.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden
}

    .portfolio-item .portfolio-item-caption {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s ease-in-out;
        opacity: 0;
        background-color: rgb(206 202 39)
    }

        .portfolio-item .portfolio-item-caption:hover {
            opacity: 0.4
        }


