@model IEnumerable<EntityLayer.Concrete.Activity>
@{
    ViewBag.Title = "AdminActivityList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Aktivite Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Bilgi</th>
        <th>Ücret</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ActivityId</td>
            <td>@item.ActivityName</td>
            <td id="tableDataOverFlow">@item.ActivityInfo</td>
            <td>@item.ActivityPrice</td>
            <td><a href="/Hotel/DeleteActivity/@item.ActivityId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Hotel/UpdateActivity/@item.ActivityId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>

<a href="/Hotel/AddNewActivity" class="btn btn-primary">Yeni Aktivite Ekle</a>

